<section class="header">
    <h1>Webspoons</h1>
    <h4>A list of users</h4>
</section>

<section class="container">

  <%= link_to 'Add user', new_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
  <div id="modal-window">
    <div class="modal-content hide-modal"></div>
  </div>

  
  <div id="search">
    <%= form_tag(users_path, :method => "get", remote: true) do %>
      <div class="search">
        <%= search_field_tag :search, params[:search], placeholder: "Type ", class: "input" %>
        <%= button_tag "Search for user", class: " btn search_btn"%>
      </div>
    <% end %>


    <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div class="search">
        <p>
          <%= text_field_tag :search, params[:search], class: "input" %>
          <%= submit_tag "Search", :name => nil, class: "btn search_btn" %>
        </p>
      </div>
      <div id="users"><%= render 'users' %></div>
    <% end %>


  </div>

  




  <table>
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
        <th><%= sortable "email" %></th>
        <th><%= sortable "title" %></th>
        <th><%= sortable "phone" %></th>
        <th><%= sortable "status" %></th>
      </tr>
    </thead>

    <tbody id="table-body">
      <%= render 'users', users: @users %>
    </tbody>
  </table>

  <section class="digg_pagination">
      <%= will_paginate @users, :container => false %>
  </section>
</section>



